*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background: url(images/pngtree-eid-al-adha-moon-with-bakra-typography-png-free-vector-and-png-image_5247629-removebg-preview.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex-wrap: wrap;
}
.banner{
    display: flex;
    gap: 500px;
}
h1{
    position: absolute;
    margin-left: 30px;
    margin-top: 200px;
    color: rgb(95, 14, 14);
    font-size: 40px;
}
#counterDays{
    position: absolute;
    margin-top: 250px;
    font-size: 40px;
    margin-left: 30px;
    color: black;
}
#counterHours{
    position: absolute;
    margin-top: 300px;
    font-size: 40px;
    margin-left: 30px;
    color: black;

}
#counterMinutes{
    position: absolute;
    margin-top: 350px;
    font-size: 40px;
    margin-left: 30px;
    color: black;

}
#counterSeconds{
    position: absolute;
    margin-top: 400px;
    font-size: 40px;
    margin-left: 30px;
    color: black;

}